.selectWrapper {
    position: relative;
    height: 53px;
    border: 1px solid #C0C6D1;
    border-radius: 5px;
    padding: 8px 12px;
    appearance: none;
    outline: none;
    display: flex;
    cursor: pointer;
}

.selectWrapper:hover{
    border-color: #3452B4;
}

.selectWrapper.active {
    border-color: #3452B4;
}

.arrow {
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.2s ease-in-out;
}

.placeholder {
    font-size: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    color: rgb(0 0 0 / 60%);
    background: #fff;
    border-radius: 2px;
}

.select {
    overflow-y: auto;
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 10;
    top: 120%;
    background-color: #fff;
    left: 0;
    border: 1px solid #3452B4;
    border-radius: 5px;
}

.option {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 53px;
    padding: 8px 12px;
    cursor: pointer;
}

.option:hover {
    background-color: #E4EAFD;
    color: #3452B4;
}

.option:hover:first-child {
    border-radius: 4px 4px 0 0;
}

.option:hover:last-child {
    border-radius: 0 0 4px 4px;
}